body {
  background-color: rgb(25, 19, 29);
  color: antiquewhite;
  font-family: cursive, 'Times New Roman', Times, serif, Georgia; 

}

.slides {
  height: 100vh;
  text-align: center;
}

#theGallows {
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
  outline: rgb(66, 66, 66) outset 10px;
}

input {
  color: rgb(206, 206, 206);
  background-color: rgb(20, 20, 20);
  border-color: rgb(66, 66, 66);
  border-radius: 4px;
  margin: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

input:disabled {
  color: black;
  background-color: rgb(66, 66, 66);
  border-color: rgb(20, 20, 20);
}

#blankSpaces {
  font-size: xx-large;
  color: rgb(206, 206, 206);
}

.overlay {
  display: none;
  z-index: 1;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: rgb(20, 20, 20);
  color: rgb(206, 206, 206);
  border-radius: 10px;
  text-align: center;
  border-color: rgb(66, 66, 66);
  border-width: 2px;
  border-style: solid;
}

#register, #login {
  text-align: center;
}

#definition {
  font-size: x-large;
}