{%extends "base.html"%}

{%block content %}
<div class="slides" id="home">
  <p>Game</p>
  <canvas id="theGallows" width="600" height="400" style="border: 1px solid;"></canvas><br>
  <p id="blankSpaces"></p>
  <form>
    <input type="text" id="guessedWord" name="guessedWord" onsubmit="event.preventDefault()">
    <input type="button" id="guessButton" value="Guess"></input><br><br>
    <input type="button" id="letterA" value="A" onclick="guessLetter(this.value)">
    <input type="button" id="letterB" value="B" onclick="guessLetter(this.value)">
    <input type="button" id="letterC" value="C" onclick="guessLetter(this.value)">
    <input type="button" id="letterD" value="D" onclick="guessLetter(this.value)">
    <input type="button" id="letterE" value="E" onclick="guessLetter(this.value)">
    <input type="button" id="letterF" value="F" onclick="guessLetter(this.value)">
    <input type="button" id="letterG" value="G" onclick="guessLetter(this.value)">
    <input type="button" id="letterH" value="H" onclick="guessLetter(this.value)">
    <input type="button" id="letterI" value="I" onclick="guessLetter(this.value)">
    <input type="button" id="letterJ" value="J" onclick="guessLetter(this.value)">
    <input type="button" id="letterK" value="K" onclick="guessLetter(this.value)">
    <input type="button" id="letterL" value="L" onclick="guessLetter(this.value)">
    <input type="button" id="letterM" value="M" onclick="guessLetter(this.value)">
    <input type="button" id="letterN" value="N" onclick="guessLetter(this.value)">
    <input type="button" id="letterO" value="O" onclick="guessLetter(this.value)">
    <input type="button" id="letterP" value="P" onclick="guessLetter(this.value)">
    <input type="button" id="letterQ" value="Q" onclick="guessLetter(this.value)">
    <input type="button" id="letterR" value="R" onclick="guessLetter(this.value)">
    <input type="button" id="letterS" value="S" onclick="guessLetter(this.value)">
    <input type="button" id="letterT" value="T" onclick="guessLetter(this.value)">
    <input type="button" id="letterU" value="U" onclick="guessLetter(this.value)">
    <input type="button" id="letterV" value="V" onclick="guessLetter(this.value)">
    <input type="button" id="letterW" value="W" onclick="guessLetter(this.value)">
    <input type="button" id="letterX" value="X" onclick="guessLetter(this.value)">
    <input type="button" id="letterY" value="Y" onclick="guessLetter(this.value)">
    <input type="button" id="letterZ" value="Z" onclick="guessLetter(this.value)">
  </form>
</div>

{%endblock%}