{%extends "base.html"%}

{%block content %}
<div class="slides" id="home">
  <canvas id="theGallows" width="600" height="400" style="border: 1px solid;"></canvas><br>
  <p id="definition">Definition: {{definition}}</p>
  <p id="blankSpaces"></p>
  <form id="keys">
    <input type="text" id="guessedWord">
    <button type="button" id="guessButton">Guess</button><br><br>
    <!--keys go here-->
  </form>
  <button id="difficulty" onclick="changeDifficulty()">Difficulty: Normal</button>
</div>

<div class="loseScreen" id="loseScreen">
  <div>
    <h3>You Lose</h3>    
    <button id="playAgain" class="">Play Again?</button>
  </div>
</div>


{%endblock%}