{% extends "base.html" %}

{% block content %}
<!-- main profile, pic, and options. Picture taken from: 
    https://www.istockphoto.com/vector/executioner-masks-icon-gm911660762-251002592 -->
<table style="margin-left:10px">
    <tr valign="top">
        <td id="profilePic"><img src="{{ user.avatar(128) }}"></td> 
        <td style="padding-left:5px;">
            <h1>User: {{ user.username }}</h1>
            {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
            {% if user == current_user and user.username != 'guest' %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% endif %}
        </td>
    </tr>
</table><br>
<!-- user full score history -->
<h4 style="margin-left:10px;">{{ user.username }}'s scores:</h4>
<table id="stats" style="margin-left:10px;">
    <tr>
        <th class="scores">Word</th>
        <th class="scores">Points</th>
    </tr>
    {% for item1, item2 in points %}
    <tr>
        <td class="scores">{{ item1 }}</td>
        <td class="scores">{{ item2 }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}