{% extends 'base.html' %}
{%block content%}
<div id="wotd">
    The word of the day was: <br><br><strong style="font-size: xx-large;">{{word}}</strong> <br> {{definition}} <br><br>
    You guessed it in {{score}} guess(es)
    <br><br>
    <table id="stats">

        <tr>
            <th style="border: 5px double darkmagenta; padding: 5px;">Word</th>
            <th style="border: 5px double darkmagenta; padding: 5px;">Score</th>
        </tr>
        {% for key,value in dict.items() %}
        <tr>
            <td style="border: 5px double darkmagenta; padding: 5px;">{{key}}</td>
            <td style="border: 5px double darkmagenta; padding: 5px; text-align: center;">{{value}}</td>
        </tr>
        {% endfor %}
    
    
    </table>
</div>

{%endblock%}